<body class="">
<script type="text/javascript">document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div id="skiplink-container" class="noPrint">
    <div>
        <% if (typeof skip_override != 'undefined' && skip_override) { %>
        <a href="#<%= skip_override.link%>" class="skiplink"><%= skip_override.message%></a>
        <%}else{%>
        <a href="#content" class="skiplink">Skip to main content</a>
        <%}%>
    </div>
</div>

<div id="global-cookie-message">
  <p>The verify apostille service uses cookies. <a href ="/cookies" target="_blank" >Review your cookie settings.<span class="visually-hidden"> opens in new window</span></a></p>
</div>

<!--end global-cookie-message-->


<header role="banner" id="global-header" class="with-proposition noPrint">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                    <img src="/images/gov.uk_logotype_crown.png" style="width:35px height:31px" alt=""> GOV.UK
                </a>
            </div>
        </div>
        <div class="header-proposition noPrint">
            <div class="content">
               <!-- <a href="#" class="js-header-toggle menu">Menu</a>-->
                <nav id="proposition-menu">
                    <a href="/" id="proposition-name">Verify an apostille</a>
                </nav>

            </div>
        </div>
    </div>
</header>
<!--end header-->



<div id="global-header-bar" class="noPrint"></div>
<!--end global-header-bar-->
<main id="main-content" role="main">

    <!-- div class="phase-banner noPrint">
        <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a target="_blank" href="http://www.smartsurvey.co.uk/s/2264M/">feedback<span class="visually-hidden"> opens in new window</span></a> will help us to improve it.</span>
        </p>
    </div -->
  <% if (req.selectedDocs) { %>
    <%-JSON.stringify(req.selectedDocs )%>
  <%}%>
