<% pageTitle = "Service offline" %>
<h1 class="heading-xlarge">Service offline</h1>
<section class="column-two-thirds">
  <p>We're making some essential updates so the legalisation application service is currently offline.</p>
</section>