<header>
    <h1 class="govuk-heading-xl">Suspicious Activity</h1>
</header>
<article>
    <p class="govuk-body">You have been blocked from the service because of multiple failed attempts to Verify an Apostille.</p>
    <ul class="govuk-list">
        <li><a href="/" class="govuk-link">Verify an Apostille</a></li>
        <li><a href="https://www.gov.uk" class="govuk-link">GOV.UK home page</a></li>
    </ul>
</article>
