<% pageTitle = "Cookies- Get a document legalised – GOV.UK" %>

<h1 class="heading-xlarge">How cookies are used on the  verify apostille service</h1>

<div class="column-two-thirds">

    <p><span>For information on what cookies are and how they are used on GOV.UK pages, go to <a target="_blank" href="https://www.gov.uk/help/cookies">GOV.UK <span class="visually-hidden"> opens in new window</span></a></span></p>

    <h2 class="heading-medium">Measuring website usage (Matomo)</h2>

    <p>We use Matomo Analytics software to collect non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. We do this to better understand how applicants for legalisation use the website. From time to time, the Foreign and Commonwealth Office may release non-personally-identifying information in the aggregate, eg, by publishing a report on trends in the usage of its website.</p>

    <caption>Matomo Analytics sets the following cookies:</caption>

    <table>
        <tr><th>Name</th><th>Purpose</th><th>Expires</th></tr>
        <tr><td>_pk_ref</td><td>Tracking of web site usage</td><td>Two years</td></tr>
        <tr><td>_pk_cvar</td><td>Tracking of web site usage</td><td>Two years</td></tr>
        <tr><td>_pk_id</td><td>Tracking of web site usage</td><td>Two years</td></tr>
        <tr><td>_pk_ses</td><td>Tracking of web site usage</td><td>Two years</td></tr>
    </table>

    <br><p><span>You can <a href="https://web-analytics.fco.gov.uk/piwik/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=en"  rel="external"  target="_blank">opt out from Matomo Analytics cookies. <span class="visually-hidden"> opens in new window</span></a>
    If you are using an unsupported browser, such as Internet Explorer 6 on Windows Vista, we do not track your web site usage and the opt out page above will not be displayed.</span></p>

    <h2 class="heading-medium">Your progress when verifying an apostille</h2>
    <p>When you use the verify apostille service, we set a cookie to remember the details you are looking up. You cannot verify an apostille without it, so this cookie is necessary in order to perform our official functions as a government department. The cookie will be deleted after a 30 minute period of inactivity.</p>
    <table>
        <tr>
          <th>Name</th><th>Purpose</th><th>Expires</th>
        </tr>
        <tr>
          <td>apsotille.sid</td><td>Storing apostille data so that it can be looked up</td><td>After a 30 minute period of inactivity</td>
        </tr>
    </table>

    <h2 class="heading-medium">Other suppliers</h2>
    <p>We use other suppliers to provide this service, who have their own cookie policy:</p>
    <ul>
        <li><span>Barclays provide the online payment service. Please read the <a target="_blank"  rel="external"  href="http://www.barclays.co.uk/ImportantInformation/Cookiespolicy/P1242558101760">Barclays cookie policy<span class="visually-hidden"> opens in new window</span></a>.</span></li>
    </ul>

  <h2 class="heading-medium">Introductory cookie message</h2>
  <p>When you first use the service we show a ‘cookie message’. We then store a cookie on your computer so it knows not to show this message again.</p>

  <table>
    <tr>
      <th>Name</th><th>Purpose</th><th>Expires</th>
    </tr>
    <tr><td>seen_cookie_message</td><td>Lets us know you’ve already seen our cookie message</td><td>28 days</td></tr>
  </table>
</div>
