<% pageTitle = "Cookies- Get a document legalised – GOV.UK" %>

<h1 class="heading-xlarge">How cookies are used on the legalisation service</h1>

<div class="column-two-thirds">

    <p><span>For information on what cookies are and how they are used on GOV.UK pages, go to <a target="_blank" href="https://www.gov.uk/help/cookies">GOV.UK <span class="visually-hidden"> opens in new window</span></a></span></p>


    <h2 class="heading-medium">Measuring website usage (Piwik)</h2>

    <p>We use Piwik Analytics software to collect non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. We do this to better understand how applicants for legalisation use the website. From time to time, the Foreign and Commonwealth Office may release non-personally-identifying information in the aggregate, eg, by publishing a report on trends in the usage of its website.</p>

    <caption>Piwik Analytics sets the following cookies:</caption>

    <table>
        <tr><th>Name</th><th>Purpose</th><th>Expires</th></tr>
        <tr><td>_pk_ref</td><td>Tracking of web site usage</td><td>Two years</td></tr>
        <tr><td>_pk_cvar</td><td>Tracking of web site usage</td><td>Two years</td></tr>
        <tr><td>_pk_id</td><td>Tracking of web site usage</td><td>Two years</td></tr>
        <tr><td>_pk_ses</td><td>Tracking of web site usage</td><td>Two years</td></tr>
    </table>

    <br><p><span>You can <a href="https://web-analytics.fco.gov.uk/piwik/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=en"  rel="external"  target="_blank">opt out from Piwik Analytics cookies<span class="visually-hidden"> opens in new window</span></a></span></p>

    <h2 class="heading-medium">Your progress when applying for legalisation</h2>
    <p>When you apply for legalisation, we'll set a cookie to remember your progress through the forms. This cookie will also remember the data you've entered, but only until you submit your application, at which point it will be cleared. The cookie will be deleted if there is a 30 minute period of inactivity.</p>
    <p>If you create a user account for the legalisation service, we'll also use this cookie to temporarily store information relating to your user account. This is designed to enhance your experience of using the service, such as allowing you to see your history of recently submitted applications. The cookie doesn't store personal data and is deleted once it expires or when you logout of your account.</p>
    <table>
        <tr><th>Name</th><th>Purpose</th><th>Expires</th></tr>
        <tr><td>express.sid</td><td>Tracking application form data and user account details</td><td>When logging out of the service, or after a 30 minute period of inactivity</td></tr>
    </table>

    <h2 class="heading-medium">Other suppliers</h2>
    <p>We use other suppliers to provide this service, who have their own cookie policy:</p>
    <ul>
        <li><span>Barclays provide the online payment service. Please read the <a target="_blank"  rel="external"  href="http://www.barclays.co.uk/ImportantInformation/Cookiespolicy/P1242558101760">Barclays cookie policy<span class="visually-hidden"> opens in new window</span></a>.</span></li>
    </ul>

</div>