<% pageTitle = "Cookies- Get a document legalised – GOV.UK" %>

<h1 class="govuk-heading-xl">How cookies are used on the Verify Apostille service</h1>

<section id="content" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="inner_header no-js-hidden" >
            <a href="#" role="button" id="close-page-button" class="back-to-previous close-button govuk-link"><i aria-hidden="true"></i>Close <span class="govuk-visually-hidden">page</span> </a>
        </div>

        <h1 class="govuk-heading-xl">How cookies are used on the verify apostille service</h1>

        <div>

            <p class="govuk-body"><span>For information on what cookies are and how they are used on GOV.UK pages, go to <a target="_blank" href="https://www.gov.uk/help/cookies" class="govuk-link">GOV.UK <span class="govuk-visually-hidden"> opens in new window</span></a></span></p>

            <h2 class="govuk-heading-l">Measuring website usage (Matomo)</h2>

            <p class="govuk-body">We use Matomo Analytics software to collect non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. We do this to better understand how applicants for legalisation use the website. From time to time, the Foreign, Commonwealth and Development Office may release non-personally-identifying information in the aggregate, eg, by publishing a report on trends in the usage of its website.</p>

            <table class="govuk-table">
                <caption class="govuk-table__caption">Matomo Analytics sets the following cookies:</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">_pk_ref</th>
                    <td class="govuk-table__cell">Tracking of web site usage</td>
                    <td class="govuk-table__cell">Two years</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">_pk_cvar</th>
                    <td class="govuk-table__cell">Tracking of web site usage</td>
                    <td class="govuk-table__cell">Two years</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">_pk_id</th>
                    <td class="govuk-table__cell">Tracking of web site usage</td>
                    <td class="govuk-table__cell">Two years</td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">_pk_ses</th>
                    <td class="govuk-table__cell">Tracking of web site usage</td>
                    <td class="govuk-table__cell">Two years</td>
                </tr>
                </tbody>
            </table>

            <br><p class="govuk-body"><span>You can <a href="https://web-analytics.fco.gov.uk/piwik/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=en" target="_blank" class="govuk-link">opt out from Matomo Analytics cookies.</a>
    If you are using an unsupported browser, such as Internet Explorer 6 on Windows Vista, we do not track your web site usage and the opt out page above will not be displayed.</span></p>

            <h2 class="govuk-heading-l">Your progress when verifying an apostille</h2>
            <p class="govuk-body">When you use the verify apostille service, we set a cookie to remember the details you are looking up. You cannot verify an apostille without it, so this cookie is necessary in order to perform our official functions as a government department. The cookie will be deleted after a 30 minute period of inactivity.</p>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">apsotille.sid</td>
                    <td class="govuk-table__cell">Storing apostille data so that it can be looked up</td>
                    <td class="govuk-table__cell">After a 30 minute period of inactivity</td>
                </tr>
                </tbody>
            </table>

            <h2 class="govuk-heading-l">Introductory cookie message</h2>
            <p class="govuk-body">When you first use the service we show a ‘cookie message’. We then store a cookie on your computer so it knows not to show this message again.</p>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Purpose</th>
                    <th scope="col" class="govuk-table__header">Expires</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">seen_cookie_message</td>
                    <td class="govuk-table__cell">Lets us know you’ve already seen our cookie message</td>
                    <td class="govuk-table__cell">28 days</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>
