<% pageTitle = "Cookies- Get a document legalised – GOV.UK" %>

<h1 class="govuk-heading-xl">How cookies are used on the Verify Apostille service</h1>
<section id="content" class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div>
            <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website.</p>
            <p class="govuk-body">We use cookies to store information about how you use the GOV.UK website, such as the pages you visit.</p>
            <h2 class="govuk-heading-l">Cookie settings</h2>
            <p class="govuk-body"><span>We use 4 types of cookie. You can choose which cookies you're happy for us to use.</span></p>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="cookie-website-use-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Cookies that measure website use
                        </h1>
                    </legend>
                    <div id="cookie-website-use-hint" class="govuk-hint">
                        <p class="govuk-body"><span>We use Matomo to measure how you use the website so we can improve it based on user
              needs. We do not allow Matomo to share the data about how you use this site.
              </span>
                        </p>
                        <ul class="govuk-list govuk-list--bullet">
                            <li>how you got to this site</li>
                            <li>the pages you visit on GOV.UK and government digital services, and how long you spend on each page</li>
                            <li>what you click on while you're visiting the site</li>
                        </ul>
                    </div>
                    <script>
                        var currentConsent = GOVUK.getConsentCookie();
                    </script>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio-web_cookie-1" type="radio" name="web_cookie" value="yes" >
                            <label class="govuk-radios__label" id="radio-web-cookie-1-label" for="radio-web_cookie-1">
                                Use cookies that measure my website use
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio-web_cookie-2" type="radio" name="web_cookie" value="no"  >
                            <label class="govuk-radios__label" id="radio-web-cookie-2-label" for="radio-web_cookie-2">
                                Do not use cookies that measure my website use
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <script>
                if (typeof(currentConsent)!='undefined' && currentConsent.usage==true) {
                    document.getElementById("radio-web_cookie-1").checked = true;
                }
                else {
                    document.getElementById("radio-web_cookie-2").checked = true;
                }
            </script>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="cookie-marketing-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Cookies that help with our communications and marketing
                        </h1>
                    </legend>
                    <div id="cookie-marketing-hint" class="govuk-hint">
                        <p class="govuk-body"><span>These cookies may be set by third party websites and do things like measure how you view YouTube videos that are on GOV.UK.</span></p>
                    </div>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio-marketing-cookie-1" type="radio" name="marketing_cookie" value="yes" >
                            <label class="govuk-radios__label" for="radio-marketing-cookie-1">
                                Use cookies that help with communications and marketing
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio-marketing-cookie-2" type="radio" name="marketing_cookie"  value="no" >
                            <label class="govuk-radios__label" for="radio-marketing-cookie-2">
                                Do not use cookies that help with communications and marketing
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <script>
                if (typeof(currentConsent)!='undefined' && currentConsent.campaigns==true) {
                    document.getElementById("radio-marketing-cookie-1").checked = true;
                }
                else {
                    document.getElementById("radio-marketing-cookie-2").checked = true;
                }
            </script>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="cookie-settings-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Cookies that remember your settings
                        </h1>
                    </legend>
                    <div id="cookie-settings-hint" class="govuk-hint">
                        <p class="govuk-body"><span>These cookies do things like remember your preferences and the choices you make, to personalise your experience of using the site.</span></p>
                    </div>
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios govuk-radios--inline">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radio-settings-cookie-1" type="radio" name="settings_cookie" value="yes">
                                <label class="govuk-radios__label" for="radio-settings-cookie-1">
                                    Use cookies that remember my settings on the site
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="radio-settings-cookie-2" type="radio" name="settings_cookie" value="no">
                                <label class="govuk-radios__label" for="radio-settings-cookie-2">
                                    Do not use cookies that remember my settings on the site
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <script>
                if (typeof(currentConsent)!='undefined' && currentConsent.settings==true) {
                    document.getElementById("radio-settings-cookie-1").checked = true;
                }
                else {
                    document.getElementById("radio-settings-cookie-2").checked = true;
                }
            </script>
            <h2 class="govuk-heading-l">Strictly necessary cookies</h2>
            <p class="govuk-body">These essential cookies do things like remember your progress through a form (for example a licence application)</p>
            <p class="govuk-body">They always need to be on.</P>
            <p class="govuk-body"><a target="_blank" href="/cookie-details" class="govuk-link">Find out more about cookies <span class="visually-hidden"> opens in new window</span></a></p>
            <div class="form-group">
                <button id="save-cookie-changes" class="govuk-button" onclick="history.go(-1)" type="submit">Save changes</button>
            </div>
        </div>
    </div>
</section>
