<header>
    <h1 class="heading-xlarge"><%= data%></h1>
</header>
<article>

    <p class="summary">Please check that you have entered the correct web address, or try:</p>
    <ul>
        <li><a href="/">Verify an Apostille</a></li>
        <li><a href="https://www.gov.uk">GOV.UK home page</a></li>
    </ul>
</article>
