<header>
    <h1 class="govuk-heading-xl">This page cannot be found</h1>
</header>
<article>
    <p class="govuk-body">Please check that you have entered the correct web address, or try:</p>
    <ul>
        <li><a href="/" class="govuk-link">Verify an Apostille</a></li>
        <li><a href="https://www.gov.uk" class="govuk-link">GOV.UK home page</a></li>
    </ul>
</article>
