<% pageTitle = "Verify an Apostille - GOV.UK" %>
<h1 class="heading-xlarge">Verify an Apostille</h1>
<div>
<h2>Before you start</h2>
<p>You’ll need:</p>
<ul>
<li>the date the Apostille was issued</li>
<li>the Apostille number</li>
</ul>
<div role="note" aria-label="Information" class="application-notice info-notice">
<p>The issue date and number are on the Apostille certificate.</p>
</div>

<section class="intro column-two-thirds">
    <div class="get-started-intro">
        <a href="/verify" id="start" class="button button-get-started">Start now</a>
    </div>
</section>

<!-- related -->
<div class="related-container">
<aside class="related" id="related">
<div class="inner group related-subsection">
<h2 id="parent-subsection">Certificates, register offices, changes of name or gender</h2>
<nav role="navigation" aria-labelledby="parent-subsection">
<ul>
<li>
<a href="/legalisation-document-checker">Check if documents can be legalised</a>
</li>
<li>
<a href="/get-document-legalised">Get a document legalised</a>
</li>
<li>
<a href="/pay-legalisation-drop-off">Pay to legalise documents using the premium service</a>
</li>
<li>
<a href="/pay-legalisation-post">Pay to get documents legalised by post</a>
</li>
<li class="related-topic"><a href="/browse/births-deaths-marriages/register-offices">More <span class="visuallyhidden">in Certificates, register offices, changes of name or gender</span></a></li>
</ul>
</nav>
</div>
<div class="inner group">
<a class="return-to-top" href="#content">Return to top ↑</a>
</div>
</aside>
</div>
