<% pageTitle = "Verify an apostille - GOV.UK" %>
<h1 class="govuk-heading-xl">Verify an apostille</h1>
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">Use this service if you want to verify an apostille certificate issued in the UK.</p>
    <h2 class="govuk-heading-l">What you’ll need</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li>the date the apostille was issued</li>
        <li>the apostille number</li>
    </ul>
    <div role="note" aria-label="Information" class="application-notice info-notice">
        <p class="govuk-body">The issue date and number are on the apostille certificate.</p>
    </div>

    <section class="intro">
        <div class="get-started-intro">
            <a href="/verify" role="button" draggable="false" class="govuk-button govuk-button--start">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                  <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </a>
        </div>
    </section>
</div>
<div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l">Related services</h2>
    <aside class="related" id="related">
        <a href="http://83.151.221.86" class="govuk-link">Get a document legalised</a>
    </aside>
</div>