<% pageTitle = "Verify an apostille - GOV.UK" %>
<h1 class="heading-xlarge">Verify an apostille</h1>
<div class="column-two-thirds">
    <p>Use this service if you want to verify an apostille certificate issued in the UK.</p>
    <h2 class="heading-large">What you’ll need</h2>
    <ul>
        <li>the date the apostille was issued</li>
        <li>the apostille number</li>
    </ul>
    <div role="note" aria-label="Information" class="application-notice info-notice">
        <p>The issue date and number are on the apostille certificate.</p>
    </div>

    <section class="intro column-two-thirds">
        <div class="get-started-intro">
            <a href="/verify" id="start" class="button button-get-started">Start now</a>
        </div>
    </section>

</div>
<div class="floatnone">
    <h2 class="heading-large">Related services</h2>
    <aside class="related" id="related">
        <a href="http://83.151.221.86">Get a document legalised</a>
    </aside>
</div>